body {
    height: 100%;
}
/*  */

.navbar .navbar-nav li {
    list-style: none;
    display: inline-block;
}
.navbar .navbar-nav li a {
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navbar .navbar-nav li a:hover {
    color:blue;
    border-bottom: 2px solid green;
}
/* logo */
.navbar {
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: black;
    color: #f5f5f5;
    box-shadow: 0 0 14px rgb(0, 0, 0, 0.3)
}

input[type=search]{
    font-size: 15px;
    display: flex;
}
button[type=submit]:hover {
    background: white;
    color: blue;
}
/* .navbar-nav .logo_container-fluid h1 {
    color: #424144;
    border-bottom: 4px solid #fd6562;
} */
.navbar .menu li{
    list-style: none;
    display: inline-block;
    /* put them inline */
}
.navbar .menu li a {
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navbar .menu li .active {
    border-bottom: 4px solid #f63e4e;
}
.navbar-nav .menu li a i {
    color: #f63e4e;

}
.navbar .menu li a:hover {
    border-bottom: 4px solid #f63e4e;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(248, 26, 92);
}
.btn {
    border-radius: 5px;
}

footer {
    background-color: #f3f4f6;
    height: 10vh;
}
footer p {
    text-align: center;
    line-height: 10vh;
    color: #424144;
}
footer p a {
    text-decoration: none;
    color: #1b1b32;
    font-weight: bold;
}