
.btn {
    border-radius: 5px;
}

footer {
    background-color: #f3f4f6;
    height: 10vh;
}
footer p {
    text-align: center;
    line-height: 10vh;
    color: #424144;
}
footer p a {
    text-decoration: none;
    color: #1b1b32;
    font-weight: bold;
}